*{
	font-family: 'Microsoft YaHei','bold','arial';
	margin: 0px;
	padding: 0px;
}

html,body{
	/*overflow: hidden;*/
}

.page{
	width: 100%;
	height: 100%;
}

#page1{
	background-color: #4169E1;
}

#page2{
	background-color: #ff0;
}

#page3{
	background-color: #4169E1;
}

#page4{
	background-color: #ff0;
}

#page5{
	background-color: #4169E1;
}

#page6{
	background-color: #ff0;
}

#page7{
	background-color: #4169E1;
}


#whoami{
	margin: 0 auto;
	margin-top: 150px;
	width: 220px;
	background-color: #4169E1;
}

#myavatar{
	margin: 0 auto;
	height: 200px;
	background-color: #fff;
	content: url('../resource/avatar.jpg');
	border-radius: calc(100% / 2);
	border: 10px solid #00BFFF;
}

#myinfo{
	text-align: center;
	color: #fff;
}

#myname{
	margin: 20px 0px;
	font-size: 45px;
}

.briefinfo{
	/*visibility: hidden;*/
	margin: 15px 0px;
	font-size: 14px;
}
