
#contain{
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.page{
	width: 100%;
	height: 100%;
	text-align: center;
}

.footer{
	position: absolute;
	bottom: 0px;
	width: 100%;
	padding-bottom: 20px;
	text-align: center;
}

#arrowdown{
	display: inline-block;
	border-radius: 50%;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	width:60px;
	height: 60px;
	background-color: #f0f;
	cursor: pointer;
}

#arrowdown::before{
	line-height: 57px;
	content: "\00a0\00a0》";
	font-size: 40px;
}


#arrowdown:hover{
	background-color: #f00;

}

#arrowup{
	display: inline-block;
	border-radius: 50%;
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	width:60px;
	height: 60px;
	background-color: #f0f;
	cursor: pointer;
}

#arrowup::before{
	line-height: 57px;
	content: "\00a0\00a0》";
	font-size: 40px;
}


#arrowup:hover{
	background-color: #f00;

}

#page1{
	background-color: #4169E1;
}

#whoami{
	margin: 0 auto;
	padding-top: 150px;
	width: 220px;
	background-color: #4169E1;
}

#myavatar{
	margin: 0 auto;
	width: 200px;
	height: 200px;
	background-color: #fff;
	background-image: url('../resource/avatar.jpg');
	border-radius: 50%;
	border: 10px solid #00BFFF;
}

#myinfo{
	text-align: center;
	color: #fff;
}

#myname{
	margin: 20px 0px;
}

.briefinfo{
	/*visibility: hidden;*/
	margin: 15px 0px;
	font-size: 14px;
}


#page2{
	background-color: #0f0;
}


#myeducation{
	text-align: center;
}

#page3{
	background-color: #4169E1;
}

#page4{
	background-color: #fe6673;
}

#page5{
	background-color: #4169E1;
}

#page6{
	background-color: #e3c887;
}

#page7{
	background-color: #4169E1;
}

.pagecontent{
width: 100%;
height: 100%;
padding-top: 100px;
}

.myproject{
	margin: 20px 20px;
	display: inline-block;
	width: 256px;
	height: 300px;
	/*background-color: #fff;*/
	border-radius: 10px;
	vertical-align:top;
	box-shadow: 0px 0px 6px 1px #fff;
}

.myproject *:first-child{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.myproject *:last-child{
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.projecttitle{
	font-size: 25px;
	padding:0px 5px 0px;
	height: 40px;
	line-height: 40px;
	text-align: center;

	/*background-color: #f0f;*/
}

.projecttime{
	font-size: 20px;
	color: #aee2d9;
	padding: 0px 10px;
	height: 30px;
	line-height: 30px;
	border-top: 1px #aaa dashed;
	border-bottom: 1px #aaa dashed;

	text-align: center;

	/*background-color: #ff0;*/
}

.projectinfo{
	text-align: left;

	font-size: 18px;
	padding: 0px 10px;
	height: 240px;
	/*background-color: #0ff;*/
}

#viewstandardresume{
	font-size: 20px;

}

#page6 p{
	margin: 20px 0px;
}



